/*Header*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #a85fec8e;
  color: black;
}

.header
{position: absolute; top: 0px; left:0px; width: 100% ;
padding:0%;
margin:0%
}

li a:hover:not(.active) {
  background-color: rgb(0, 0, 0);
}

.active {
  background-color: #a05be0
}

/*body*/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  color: #cccccc;
  
}

h1{
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 50px;
  align-items: center
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
}

@media screen and (max-width:576px){
  .split{
    flex: 2 100%;
    flex-grow: inherit
  }
}

/*Home Page*/

img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 0%;
}
.container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0%;
}

.split{
  flex-basis: 46%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  text-align: left;
  align-items: center;
}

.split img{
  width: 100%;
  height: auto;
  align-items: center;
}

.button{
  background-color: #6135daa4 ;
  text-decoration: none;
  color: rgb(168, 168, 168);
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button {border-radius: 12px;}

/*make embeded youtube videos responsive*/
.video-container {
  position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute; top: 0; left: 0; right: 0; width: 70%; height: 70%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block
}
.form{
    max-width: 100vw;
}

textarea{
  max-width: 90%;
}

fieldset {
  background-image: url("images/form_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-color: #ffffff2d;
  color: rgb(179, 179, 179)
}
legend {
  background-color: rgba(81, 12, 170, 0);
  color: rgb(209, 209, 209);
  padding: 5px 10px;
  font-size: 20px;
}
